#boardmain_con {
	width: 100%;
	height: 73%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.board_box {
	width: 80%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #e2e2e2;
	border-radius: 0.5rem;
	max-width: 900px;
	min-width: 400px;
}

.board_head {
	width: 100%;
	height: 10%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
}

.board_text {
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board_date {
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board_num, .board_count {
	width: 10%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board_name {
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board_head ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}

.board_body {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 90%;
}

.board_body ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 10%;
	border: 1px solid #e2e2e2;
}

.board_tag {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board_tag a {
	margin: 5px;
}